<% @runs_active = "active" %>
<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @run.date %>
</p>

<p>
  <strong>Time:</strong>
  <%= @run.duration_time %>
</p>

<p>
  <strong>Distance:</strong>
  <%= @run.distance %>
</p>

<p>
  <strong>Description:</strong>
  <%= @run.description %>
</p>

<p>
  <strong>Place:</strong>
  <%= @run.place_name %>
</p>

<%= link_to 'Edit', edit_run_path(@run) %> |
<%= link_to 'Back', runs_path %>
